.login {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.login__middle {
  display: table-cell;
  vertical-align: middle;
}

.login__inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.login__header__content {
  position: relative;
}

.login__header {
  background-color: var(--text-color-dark-blue);
  padding: 1rem 0.8rem;
}

.login__header i {
  font-size: 35px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--text-color-light-brown);
}

.login__title {
  font-size: 15px;
}

.login__subtitle {
  font-size: 11px;
}

.login__main {
  height: auto;
  display: flex;
  justify-content: center;
  background: var(--text-color-middle-blue);
}

.login__main form {
  width: 95%;
}

.login__input {
  width: 100%;
  height: calc(1.5em + .75rem + 8px);
  padding-left: 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
}

.login__input::placeholder {
  font-size: 12px;
}

.login__footer {
  font-size: 10px;
  margin: 1rem 0;
  text-align: center;
}

.login__footer__link {
  text-decoration: none;
}

a:visited {
  color: var(--text-color-briliant-blue);
}

.button {
  width: 100%;
  height: calc(1.5em + .75rem + 8px);
  border: none;
  border-radius: 5px;
  margin-top: 1.5em;
  cursor: pointer;
  background-color: var(--text-color-water-blue);
}

.button:disabled {
  cursor: not-allowed;
}

.button:hover {
  background-color: var(--text-color-water-blue-light);
}

.login__user--error, .login__password--error {
  color: var(--text-color-dark-red);
  font-size: 12px;
}

@media only screen and (max-width: 400px) {
  .login__inner {
    width: 300px;
  }
}
